:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
  }
body
{
    background: var(--black);
    color: var(--green);
    font-family: helvetica;
}
ol
{
    font-family: helvetica;
}
.list 
{
    font-size: large;
}
#movementSensor
{
    font-size: large;
}
#soundSensor
{
    font-size: large;
}
#btn 
{
    font-size: large;
    position: absolute;
    border: 5px solid var(--green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 75px;
}
